/* primordial template */

.primordial {
  background-color: var(--papyrus);
}

.primordial p {
  margin: 0;
}

.primordial>* {
  color: black;
  font-size: 0.8rem;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.primordial-icon {
	border-radius: 50%;
	border: 3px solid rgb(106, 106, 106);
	box-shadow: 0 0 4px 3px rgb(106, 106, 106);
	height: 30px;
	width: 30px;
	margin: 5px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.primordial-title {
  text-align: center;
  color: black;
  font-size: 18px;
  border-radius: 9px 9px 0 0;
  flex: 8;
}

.primordial-info {
  text-align: center;
  color: white;
  background-color: rgb(106, 106, 106);
  font-size: 15px;
  margin: 5px 0;
  margin-top: 15px;
}

.primordial-level-button-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: gray;
  padding: 4px 0;
  gap: 3px;
}

.primordial-level-button-box > h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  align-items: center;
  margin-right: 5px;
  color: white;
}

.primordial-sheet {
  display: flex;
  flex-direction: column;
}

.primordial-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primordial-left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.primordial-right {
  flex: 1;
}

.primordial-statbar {
  display: flex;
  gap: 1rem;
  background-color: #BFBCAB;
  width: 90%;
  min-height: 1.4rem;
  justify-content: center;
}

.primordial-vp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.primordial-vp-box {
  display: flex;
}

.primordial-vp-box-left, .primordial-vp-box-right {
  flex: 1;
  padding: 0.5rem;
}

.primordial-vp-circle-box {
  display: flex;
  gap: 0.5rem;
}

.primordial-vp-circle {
  background-color: #0000006d;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 5.5rem;
  height: 6rem;
  aspect-ratio: 1;
  text-align: center;
}

.primordial-climb-test {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 95%;
  text-align: center;
  margin: 0.5rem;
}

.primordial-level-bar {
  display: flex;
  flex-direction: column;
  background-color: #BFBCAB;
  padding: 3px;
}

.primordial-attributes {
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
  padding: 2px 7px;
}

.primordial-attributes__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
}

.primordial-attributes__main-stat-box div {
  min-width: 4rem;
  border-radius: 50px;
  border: 2px solid white;
  color: black;
  background-color: white;
  padding: 1px 7px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

.primordial-attributes__bonus {
  display: flex;
  margin-top: 2px;
}

.primordial-attributes__bonus-stat-box {
  border-right: 1px solid white;
  padding: 0 2px;
  font-size: 15px;
  flex: 0 0 auto;
  min-width: 0;
}

.primordial-attributes__bonus-stat-placeholder{
  flex: 1 0 0;
  min-width: 0;
  border-right: 1px solid white;
}

.primordial-section-header {
  display: inline-block;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 0px 4px;
  font-size: 11px;
  border-radius: 1px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.primordial-speed img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(11%) saturate(3153%) hue-rotate(185deg) brightness(86%) contrast(82%);
}

.primordial-trait-changes {
  width: 100%;
  padding: 2px 7px;
  box-sizing: border-box;
}

.primordial-traits {
  padding: 5px;
  margin: 5px;
  height: 200px;
  overflow-y: scroll;
  margin-right: 2px;
}

.primordial-traits::-webkit-scrollbar {
  max-width: 0.7rem;
}

.primordial-traits::-webkit-scrollbar-thumb {
  background-color: var(--papyrus);
  border-radius: 5px;
  border: 3px solid #BFBCAB;
  width: 0.5rem;
}

.primordial-traits::-webkit-scrollbar-track {
  background-color: #BFBCAB;
  border: 3px solid var(--papyrus);
  width: 0.3rem;
}

@media (min-width: 820px) {
  .primordial-sheet {
    flex-direction: row;
  }

  .primordial-traits {
    height: 400px;
  }
  
  .primordial-level-bar {
    flex-direction: row;
  }

  .primordial-trait-changes {
    width: 45%;
  }
}

/* End primordial template */