.drag-backpack-overlay {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000000;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  padding: 10px;
  transition: background-color 250ms;
  display: none;
}

.drag-backpack-overlay.backpack-open {
  background-color: #0000007b;
  display: flex;
}

.backpack-wrapper {
  width: 50dvw;
  height: 70dvh;
  position: fixed;
  z-index: 550;
  left: -45dvw;
  top: 0;
  margin-top: 20dvh;
  border: 3px dashed rgb(220, 220, 220);
  border-radius: 5px;
  background-color: rgb(146, 146, 146);
  transition: border 1s, background-color 1s, left 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  box-sizing: border-box;
}

.drag-backpack {
  width: 100%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  font-size: 30px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}

.drag-backpack::-webkit-scrollbar {
  display: none;
}

.backpack-wrapper:hover,
.backpack-wrapper.backpack-open {
  left: 10px;
}

.drag-backpack-item {
  width: 150px;
  height: 225px;
  flex: 0 0 auto;
}

.drag-backpack .card-wrapper {
  transform: scale(0.4);
  transform-origin: top left;
  width: 250%;
  height: 250%;
}

.is-drop-target {
  border-color: white;
  background-color: #9ec5c9;
}

.backpack-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.backpack-sets-manager {
  background-color: var(--main-midtone);
  border-radius: 5px;
  padding: 2px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 5px;
  max-width: 100%;
}

.backpack-search-bar-wrapper {
  display: flex;
  position: relative;
}

.backpack-search-bar {
  background-color: var(--main);
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.backpack-search-bar::placeholder {
  text-align: center;
}

.backpack-search-bar:focus {
  border-color: rgb(146, 146, 146);
}

.backpack-search-bar:focus::placeholder {
  color: var(--main-midtone);
}

.backpack-button {
  padding: 4px;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.backpack-button:hover {
  background-color: var(--main-light);
}

.backpack-button.clear-all {
  background-color: var(--main);
}

.backpack-menu-error {
  animation: backpackMenuError 0.5s ease;
}

.backpack-saved-sets-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: var(--main-light);
  display: flex;
  flex-direction: column;
  z-index: 1;
  max-height: 450%;
  overflow-y: auto;
}

.backpack-saved-set-item {
  padding: 5px;
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  justify-content: space-between;
}
.backpack-saved-set-item:hover {
  background-color: var(--main-midtone);
}

@keyframes backpackMenuError {
  0% {
    background-color: rgb(150, 0, 0);
  }

  100% {
    background-color: var(--main-midtone);
  }
}

@media (min-width: 820px) {
  .backpack-wrapper {
    width: 30dvw;
    left: -28dvw;
  }

  .backpack-search-bar-wrapper {
    flex: 1;
  }
}