.page-over {
  width: 100dvw;
  height: 50dvh;
  position: absolute;
  left: 90dvw;
  top: 25dvh;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: background-color 0.2s ease, left 0.6s ease;
  z-index: 2000;
}

.page-over-arrow {
  transform: translateX(80px);
  transition: transform 0.8s ease;
  z-index: 550;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-over-arrow > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  line-height: 34px;
  background-color: var(--accent);
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.page-over:hover .page-over-arrow, .page-over.open .page-over-arrow {
  transform: translateX(-30px);
  cursor: pointer;
}

.page-over.open {
  background-color: var(--main-light);
  top: 0;
  height: 100dvh;
}

.page-over.is-drop-target {
  background-color: var(--accent);
  left: 80dvw;
}

.page-over.backpack-open {
  left: 0;
}

.page-over.backpack-show {
  background-color: var(--main-midtone);
  top: 0;
  height: 100dvh;
}

.page-over-arrow.backpack-open {
  transform: translateX(10px);
}

.page-over-arrow.backpack-open > * {
  background-color: var(--main);
}

.page-over:hover .page-over-arrow.backpack-open {
  transform: translateX(10px);
}

.page-over-arrow.backpack-open > *:hover {
  background-color: var(--main);
}

@media (min-width: 820px) {
  .page-over {
    left: 97dvw;
  }
}