/* argonaut template */
.argonaut {
	background-color: #EEE;
	color: black;
	display: flex;
	min-height: 200px;
	text-align: center;
}

.argonaut-title {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	flex: 8;
	padding-top: 5px;
}

.argonaut-flavor {
	font-style: italic;
	padding: 30px;
}

.argonaut-info {
	width: 100%;
	display: flex;
	column-gap: 10px;
	color: #FFF;
}

.argonaut-info svg {
	height: 15px;
	width: 200px;
	align-self: center;
	display: block;
	margin: auto;
}

.argonaut-name-box {
	background-color: black;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding-bottom: 0.3rem;
}

/* End argonaut template */