/* Base Card Styles */
.traitlike-card {
  background-color: var(--papyrus);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.traitlike-card__main-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.traitlike-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 8% 33% 8%;
  gap: 40px;
}

/* Header */
.traitlike-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  padding: 10px;
}

.traitlike-card__icon-top-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8b4513;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.traitlike-card__name {
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
  padding-top: 5px;
  flex-grow: 1;
}

/* Right Stats Bar */
.traitlike-card__stats-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 38px;
  flex-shrink: 0;
  font-size: 15px;
}

.stats-bar-right__level-container {
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border: 2px solid black;
  box-sizing: border-box;
}

.stats-bar-right__level {
  transform: rotate(-45deg);
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: none;
}

/* Footer */
.traitlike-card__footer {
  padding-top: 4px;
  padding-bottom: 2px;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.traitlike-card_footer-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.traitlike-card__id {
  font-size: 10px;
  justify-content: flex-start;
}

.traitlike-card__type-indicator {
  font-size: 0.9em;
  font-weight: bold;
  flex: 3;
}

.traitlike-card__woo-icon {
  width: 6.66%;
  font-size: 14px;
}