/* technology template */
.technology.techside {
  background-color: #001c21;
  padding: 10px;
  color: white;
}

.technology.projectside {
  background-color: #DFDBCD;
  padding: 10px;
  color: black;
}

.technology p {
  margin: 0;
}

.technology-title {
  text-align: center;
  font-size: 18px;
  border-radius: 9px 9px 0 0;
  flex: 8;
}

.technology-info {
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 5px 0;
  margin-top: 15px;
  background-color: #00434e;
}

.technology .icon {
  border-radius: 50%;
  border: 3px solid #00434e;
  box-shadow: 0 0 4px 3px #00434e;
  background-color: #001c21;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology-ability .invertible {
  filter: invert(1);
}

.technology-project {
  background-color: #DFDBCD;
  color: black;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-project-divider {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.technology-flavor {
  border-top: 1px solid #cac7b9;
  border-bottom: 1px solid #cac7b9;
  padding: 2px 0;
  margin-bottom: 15px;
  margin-top: 8px;
  line-height: 14px;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.technology-project-header {
  color: white;
  background-color: #00434e;
  width: fit-content;
  padding: 0 10px;
}

.technology-project-box {
  background-color: #cac7b9;
  width: fit-content;
  min-width: 50%;
  padding: 0 10px;
  margin-bottom: 15px;
  text-align: center;
}

.technology-ability-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.technology-ability-header {
  color: white;
  background-color: #00434e;
  border: 1px solid white;
  width: fit-content;
  padding: 0px 4px;
}

.technology-ability {
  background-color: #000f11;
  border: 1px solid #00434e;
  padding: 6px 10px;
  line-height: 15px;
  text-align: center;
  width: 90%;
}

.technology-tech-header {
  font-style: italic;
  padding-left: 15px;
  margin-top: 5px;
}

.technology-tech-box {
  padding-left: 15px;
  background-color: #001215;
}

.technology-recipes {
  border-top: 1px solid #00434e;
  border-bottom: 1px solid #00434e;
}

.technology-aa-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.technology-aa-charges {
  background-color: #000f11;
  border: 1px solid #00434e;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 5.5rem;
  height: 6rem;
  aspect-ratio: 1;
  text-align: center;
  color: lightgrey;
}

/* End technology template */