/* technologybox template */
.technology {
	background-color: #001c21;
  padding: 10px;
}

.technology p {
  margin: 0;
}

.technology > * {
  color: white;
}

.technology-title {
	text-align: center;
	font-size: 18px;
	color: white;
  border-radius: 9px 9px 0 0;
	flex: 8;
}

.technology-subtitle {
	text-align: center;
	font-size: 15px;
	color: white;
  margin: 5px 0;
}

.technology-card {
	width: 100%;
	position: relative;
	min-height: 140px;
	display: flex;
	margin: 10px 0;
}

.technology-info {
	width: 100%;
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.technology-info-header {
	text-align: right;
	flex-basis: 35%;
	font-weight: BOLD;
}

.technology-info-detail {
	flex-basis: 65%;
}

.technology-icon {
	text-align: center;
	flex: 2;
}

.technology .icon {
	border-radius: 50%;
	border: 3px solid #00434e;
  box-shadow: 0 0 4px 3px #00434e;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.technology-ability .invertible {
	filter: invert(1);
}

.cycle4 .invertible {
	filter: saturate(100%) invert(74%) sepia(63%) saturate(363%) hue-rotate(2deg) brightness(106%) contrast(81%);
}

.technology-project {
  background-color: #DFDBCD;
  color: black;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-project-divider {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.technology-flavor {
  border-top: 1px solid #cac7b9;
  border-bottom: 1px solid #cac7b9;
  padding: 2px 0;
  margin-bottom: 15px;
  margin-top: 8px;
  line-height: 14px;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.technology-project-header {
  color: white;
  background-color: #00434e;
  width: fit-content;
  padding: 0 10px;
}

.technology-project-box {
  background-color: #cac7b9;
  width: fit-content;
  min-width: 50%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.technology-ability-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.technology-ability-header {
  color: white;
  background-color: #00434e;
  width: fit-content;
  padding: 2px 10px;
}

.technology-ability {
  background-color: #001215;
  padding: 2px 10px;
  line-height: 15px;
  text-align: center;
}

.technology-tech-header {
  font-style: italic;
  padding-left: 15px;
  margin-top: 5px;
}

.technology-tech-box {
  padding-left: 15px;
  background-color: #001215;
}

.technology-recipes {
  border-top: 1px solid #00434e;
  border-bottom: 1px solid #00434e;
}

/* End technology template */