/* exploration template */
/* 
    var(--papyrus) light
    var(--papyrus-dark) dark
*/

.exploration {
  background-color: var(--papyrus);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  text-align: center;
}

.exploration-title {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  color: #FFF;
  flex: 8;
  background-color: #000;
  padding: 5px 0;
  max-height: 30px;
}

.exploration-effects {
  background-color: var(--papyrus-dark);
  flex: 1;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exploration-effects p {
  margin: 0 7%;
  text-align: left;
  display: flex;
  gap: 5px;
}

.exploration-effect-text {
  flex: 7;
}

.exploration-diplomacy-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 4;
}

.exploration-diplomacy-banner svg {
  flex: 1;
  height: 12px;
}

.exploration-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  padding: 5px 0;
}

.exploration-footer__number-circle {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 28px;
}

.exploration-footer__remove-effect {
  font-style: italic;
  max-width: 50%;
  line-height: 10px;
  font-size: 10px;
}

.adversary-icon-group {
  display: flex;
  justify-content: center;
}

.adversary-icon {
  background-color: black;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  padding: 2px;
  box-shadow: 0 0 4px 3px black;
}

.adversary-icon .invertible {
  filter: invert(1);
}

/* End exploration template */