.app {
  width: 100vw;
  flex: 1;
  min-height: 0;
  display: flex;
}

.app > div {
  height: inherit;
  flex: 1;
  display: flex;
}

.card-list-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 4%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2%;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: black;
}

.card-wrapper {
  position: relative;
	max-width: 100%;
}

.card-wrapper > div {
	display: flex;
	justify-content: center;
}

.card-list__control-bar--page-contols {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em 0;
}

.card-list__control-bar--page-buttons {
  display: flex;
  align-items: stretch;
  text-align: center;
  font-size: 0.8em;
}

.card-list__control-bar--page-buttons button {
  padding: 4px 12px;
  margin: 0px 10px;
  background-color: var(--main-light);
}

.card-list__control-bar--page-buttons button:enabled {
  background-color: var(--accent);
}

.card-list__control-bar--search-wrapper {
  padding: 0.3rem;
}

.card-list__control-bar--sort-search {
  width: 60px;
}

@media (min-width: 820px) {
  .card-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .dropdowns {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    flex: 2;
  }

  .filter-reset-button {
    margin-left: 1rem;
  }

  .filter-dropdown {
    flex: 0 1 20%;
  }

  .dropdown-list {
    width: 80vw;
  }

  .card-list__control-bar--page_number {
    max-width: 25px;
  }
}

@media (min-width: 1250px) {
  .card-list__control-bar {
    display: flex;
    width: 100%;
  }

  .card-list__control-bar--page-contols>* {
    margin: 0px 0px;
  }

  .card-list__control-bar--page-contols {
    gap: 0;
    margin: 0;
  }

  .card-list__control-bar--sort-search {
    width: 120px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .card-list__control-bar--search-wrapper {
    position: relative;
  }

  .dropdown-list {
    width: 70vw;
  }

  .dropdown-list-item:hover {
    background-color: var(--accent);
  }
}

.sort-suggestions-list {
  background-color: var(--main);
  position: absolute;
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 400;
  max-height: 200px;
  overflow-y: auto;
}

.sort-suggestions-list::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.sort-suggestions-list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sort-suggestions-list::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}

.sort-suggestions-list li {
  box-sizing: border-box;
  width: 120px;
  font-size: 14px;
  padding: 3px 8px;
  cursor: pointer;
  position: relative;
}

.sort-suggestions-list li .tooltip-trigger {
  text-decoration: none;
  color: white;
}

.sort-suggestions-list li:hover {
  background-color: var(--accent);
}

.sort-suggestion-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: gray;
}

.sort-suggestions-list li:hover .sort-suggestion-tooltip {
  visibility: visible;
}

.card-list__control-bar--page_number {
  min-width: 10px;
  max-width: 15px;
  margin: 0px 2px;
}

.card-menu {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: slategrey;
  padding: 2px;
  gap: 2px;
}

.card-menu button {
  background-color: unset;
  border: unset;
  padding: 0;
  height: 35px;
  aspect-ratio: 1/1;
}

.card-menu button:disabled {
  background-color: rgba(20, 20, 20);
  filter: brightness(0.3);
}

.card-menu .invertible {
  filter: invert(1);
}

.card-menu button:enabled:hover {
  background-color: rgba(20, 20, 20, 0.3);
}