.deck-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: inherit;
  position: relative;
}

.deck-page_action-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px;
  padding: 10px;
  background-color: var(--main-midtone);
  border-radius: 10px;
  box-sizing: border-box;
}

.deck-page_action-bar > * {
  order: 0;
}

.deck-page_set-title {
  position: relative;
  width: 100%;
  order: 99;
}

.deck-page_set-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--main);
  width: 100%;
  z-index: 10;
}

.deck-page_set-list-item:hover {
  background-color: var(--main-light);
}

.deck-page_card-list {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  overflow-y: scroll;
  width: 100%;
  padding: 0 3% 0 4%;
  box-sizing: border-box;
}

.deck-page_button-wrapper {
  display: flex;
  gap: 5px;
}

.deck-page_set-title,
.deck-page_action-button {
  background-color: var(--main);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-page_action-button:hover {
  background-color: var(--main-light);
}

.deck-page_action-button:disabled {
  background-color: black;
  cursor: unset;
}

.deck-page_hidden-card {
  background-color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 18px;
}

/* Highlight Card */
.deck-page_highlight-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.deck-page_highlight-card__menu {
  display: flex;
  gap: 40px;
  background-color: var(--main-midtone);
  padding: 10px;
  border-radius: 10px;
}

.deck-page_highlight-card__button {
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 24px;
}
.deck-page_highlight-card__button:hover {
  background-color: var(--main-light);
}

/* Active Card Pool */
.deck-page_card-pool-selector {
  background-color: var(--main-midtone);
  width: 100%;
  display: flex;
  justify-content: center;
}

.deck-page_card-pool-selector_action-button {
  background-color: var(--main);
  border-radius: unset;
  font-size: 1.2rem;
}
.deck-page_card-pool-selector_action-button:hover {
  background-color: var(--main-light);
}

.deck-page_card-pool-selector_action-button:disabled {
  background-color: var(--accent);
}

/*  Prebuilt decks bar  */
.prebuilt-decks-dropdown__button {
  position: relative;
  width: 25%;
}

.prebuilt-decks-dropdown__button:hover .prebuilt-decks-dropdown {
  display: block;
}

.prebuilt-decks-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--main-midtone);
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
  display: none;
  max-height: 50dvh;
  overflow-y: scroll;
}

.prebuilt-decks-dropdown li {
  list-style-type: none;
}
.prebuilt-decks-dropdown li:hover {
  background-color: var(--main-light);
}

@media (min-width: 820px) {
  .deck-page_set-title {
    flex: 2 1 70%;
    order: 0;
  }
}