.focus-card-page {
  height: 100dvh;
  width: 100vw;
  align-items: center;
  position: relative;
  color: white;
}

.focus-card-page > .secret-overlay {
  z-index: 550;
}

.focus-card-page h1 {
  padding: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 20px;
  background-color: #242424;
}

.focus-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 1rem;
  padding-top: 4rem;
}

.focus-card::-webkit-scrollbar {
  display: none;
}

.focus-card-info-container__container {
  margin-bottom: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex: 3;
}

.focus-card-info-container {
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  padding: 1rem 0.8rem;
  width: 95%;
  box-sizing: border-box;
}

.focus-card-info-container > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 4px;
  gap: 25px;
}

.focus-card-info-container > div > strong {
  text-align: end;
}

.focus-card-info-container > div > p {
  margin: 0;
}

.focus-footer {
  margin-bottom: 10px;
}

.focus-card-secrets-button {
  z-index: 525;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 30px;
  padding: 0 0.8rem 0.5rem 0.8rem;
}

.focus-card-secrets {
  min-height: 15dvh;
  position: relative;
}

.focus-card-secrets > div {
  display: flex;
}

.focus-card-overlay {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  z-index: 600;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(137, 137, 137, 0.684);
  top: 0;
  display: flex;
  justify-content: center;
}

.focus-card-overlay .focus-card-page {
  width: 100vw;
  background-color: #242424;
}

.focus-card-overlay__buttons {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  z-index: 600;
}

.focus-card-overlay__buttons .invertible {
  filter: invert(1)
}

.focus-card__card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 2;
}

.focus-card__card-container .card {
  transform-origin: top center;
  transition: transform 0.5s ease;
}

.card-ref-text > button {
  background-color: unset;
  border: unset;
  border-radius: unset;
  padding: 0;
  font-weight: unset;
  font-style: italic;
  box-sizing: border-box;
  color: inherit;
  text-shadow: 
      0.5px 0.5px 0 rgb(255, 0, 0),
      -0.5px -0.5px 0 brown;
}

.card-ref-text > button:hover {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

@media (min-width: 820px) {

  .focus-card {
    justify-content: space-around;
  }

  .focus-card__card-container {
    margin-top: 0;
  }

  .focus-card-overlay .focus-card-page {
    width: 80vw;
  }

  .focus-card-page {
    border-radius: 15px;
  }

  .focus-card-info-container {
    max-width: 50vw;
  }

  .focus-card-overlay__buttons {
    top: 2rem;
    right: 2rem;
    flex-direction: column;
  }

}

@media (min-width: 1250px) {
  .focus-small {
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem;
    box-sizing: border-box;
  }

  .focus-small .focus-card__card-container .card {
    transform: scale(1.3);
  }

  .focus-card__card-container .card:hover {
    transform: scale(1.3);
  }

  .focus-card {
    padding-top: 4rem;
  }
}