:root {
  --papyrus: #dfdbcd;
  --papyrus-dark: #cac7b9;

  --accent-light: #c0eef3;
  --accent: #70a1a2;
  --accent-dark: #588585;
  --accent-hover: #c57856;
  
  --main-light: #494949;
  --main-midtone: #333333;
  --main: #262626;


  height: inherit;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-spoilers="off"] {
  --accent-light: #db0000;
  --accent: #a10000;
  --accent-dark: #810000;
  --accent-hover: #56c5c5;

  --main-light: #810000;
  --main-midtone: #590000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.card-type-marker {
  border-radius: 10px;
  border: 1px dashed white;
  font-size: 10px;
  height: 15px;
  width: fit-content;
  padding: 0 5px;
  position: absolute;
  bottom: -7px;
  right: 10px;
  text-align: center;
  z-index: 5;
  color: white;
  background-color: #666;
}

.data-tippy-root {
  z-index: 99999;
}

.tooltip span .invertible {
	filter: invert(1);
}

a {
  font-weight: unset;
}

img {
  vertical-align: text-bottom;
}

svg {
  height: 10px;
  width: auto;
}

html, body {
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

input {
  background-color: var(--main-light);
  border: 2px solid var(--main-light);
}

input[type="text"]:focus {
  outline: none; /* removes default browser outline */
  border-color: var(--accent-light);
}