:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
	--papyrus: #DFDBCD;
	--papyrus-dark: #cac7b9;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card-type-marker {
  border-radius: 10px;
  border: 1px dashed white;
  font-size: 10px;
  height: 15px;
  width: fit-content;
  padding: 0 5px;
  position: absolute;
  bottom: -7px;
  right: 10px;
  text-align: center;
  z-index: 5;
  color: white;
  background-color: #666;
}

.focus-card-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 600;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(137, 137, 137, 0.684);
  top: 0;
  display: flex;
  justify-content: center;
}

.focus-card-overlay .focus-card-page {
  width: 70vw;
  background-color: #242424;
}

.focus-card-overlay__buttons {
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.focus-card-overlay__buttons .invertible {
  filter: invert(1)
}

.data-tippy-root {
  z-index: 99999;
}

.tooltip span .invertible {
	filter: invert(1);
}

a {
  font-weight: unset;
}

img {
  vertical-align: text-bottom;
}

svg {
  height: 10px;
  width: auto;
}

html, body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
