.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  background-image: url("../assets/ATCC.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40%;
}

.home-page h1 {
  display: flex;
  flex-direction: column;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20dvh;
}

.main-nav ul {
  padding: 0;
}

.main-nav li {
  display: inline;
  padding: 12px 20px;
  font-size: 24px;
  margin: 0px 8px;
  border: 1px solid #ffffff00;
  border-bottom: 1px solid var(--main);
  border-right: 1px solid var(--main);
}

.main-nav li:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
}

.main-nav a {
  color:rgba(255, 255, 255, 0.87);
}