.app-layout {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-footer {
  text-align: center;
}

.top-menu {
  position: relative;
  flex: 1;
}

.layout-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: -30px;
  left: -24px;
  width: 100%;
}

.layout-nav ul {
  padding: 0;
  margin: 0;
  flex: 6;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  gap: 10px;
}

.layout-nav li {
  display: inline;
  padding: 3px 15px;
  font-size: 1.5rem;
  border: 1px solid #ffffff00;
  background-color: var(--main-light);
  border-radius: 15px;
}

.layout-nav li:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
}

.layout-nav ul a {
  color:rgba(255, 255, 255, 0.87);
}

.layout-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-light);
}

.menu-button, .filters-hamburger-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: unset;
  z-index: 550;
  position: relative;
}

.hamburger-bar {
  background-color: var(--accent);
  width: 28px;
  height: 4px;
}

.filters-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.filter-sidebar {
  background-color: var(--main);
  height: 100dvh;
  width: 100vw;
  left: 0%;
  top: 0%;
  position: fixed;
  z-index: 525;
  display: flex;
  flex-direction: column;
}

.nav-sidebar {
  z-index: 525;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  background-color: var(--main);
  padding: 20px 10px;
  box-sizing: border-box;
}

.menu-button:hover .nav-sidebar {
  display: flex;
}

@media (min-width: 820px) {
  .filters-menu {
    position: static;
  }

  .filter-sidebar {
    width: 30%;
    left: 70%;
  }

  .nav-sidebar {
    width: max-content;
    left: unset;
    background-color: unset;
    padding: 0;
  }
}