.app-layout {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-footer {
  text-align: center;
  background-color: var(--main-midtone);
}

.top-menu {
  position: relative;
  flex: 1;
}

.layout-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: -30px;
  left: -24px;
  width: 100%;
}

.layout-nav ul {
  padding: 0;
  margin: 0;
  flex: 6;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  gap: 10px;
}

.layout-nav li {
  display: inline;
  padding: 3px 15px;
  font-size: 1.5rem;
  border: 1px solid #ffffff00;
  background-color: var(--main-light);
  border-radius: 15px;
}

.layout-nav li:hover {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}

.layout-nav ul a {
  color:rgba(255, 255, 255, 0.87);
}

.layout-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-midtone);
}

.menu-button, .filters-hamburger-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: unset;
  z-index: 550;
  position: relative;
}

.hamburger-bar {
  background-color: var(--accent);
  width: 28px;
  height: 4px;
}

.filters-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.filter-sidebar {
  background-color: var(--main-midtone);
  height: 100dvh;
  width: 100vw;
  left: 0%;
  top: 0%;
  position: fixed;
  z-index: 525;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-sidebar {
  z-index: 525;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
  background-color: var(--main);
  padding: 20px 10px;
  box-sizing: border-box;
}

.menu-button:hover .nav-sidebar {
  display: flex;
}

.filter-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
}

/* Filters */
.dropdown-container {
  display: flex;
  border-radius: 5px;
  padding-left: 10px;
  align-items: center;
}

.dropdown-container input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.dropdown-select-box {
  background-color: var(--main-midtone);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--main-light);
  box-sizing: border-box;
}

.dropdown-select-box-radio {
  background-color: var(--main);
  width: 12px;
  height: 12px;
}

.dropdown-select-box:hover .dropdown-select-box-radio {
  background-color: var(--main-light);
  border: 1px solid var(--accent);
}

input:checked + .dropdown-select-box-radio {
  background-color: var(--accent);
}

.dropdown-select-box:hover input:checked + .dropdown-select-box-radio {
  background-color: var(--accent-dark);
}

.dropdown-button {
  padding: 0 20px;
  border: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

.dropdown-button > h3 {
  margin: 0.5em 0;
}

.filters-container {
  flex: 1;
  min-height: 0;
  padding: 4%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 90%;
  min-height: 0;
}

.filters-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 5px;
  min-height: 0;
  max-height: 0;
  background-color: var(--main-midtone);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: max-height 0s ease;
}

.filters-list.open {
  transition: max-height 1s ease;
  max-height: 80dvh;
}

.filters-list.deep {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  background-color: var(--main);
  box-sizing: border-box;
}

.filters-list.open.deep {
  padding: 5px;
}

.dropdown-list-item {
  border-radius: 5px;
  padding: 2px 8px;
  background-color: var(--main-light);
  text-align: left;
  width: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  transition: line-height 0.3s ease, border 0.3s ease;
  white-space: nowrap;
}

.dropdown-list-item__selected {
  background-color: var(--accent);
}
/* END Filters */

/* The switch - the box around the slider */
.filters-switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 23px;
}

/* Hide default HTML checkbox */
.filters-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.filters-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-light);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.filters-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .filters-slider {
  background-color: var(--accent);
}

input:focus + .filters-slider {
  box-shadow: 0 0 1px var(--accent);
}

input:checked + .filters-slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.layout-spoiler-warning-banner {
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--main-light);
  border: 2px solid var(--accent);
  width: 100%;
}

@media (min-width: 820px) {
  .dropdowns {
    display: flex;
    flex-direction: unset;
    justify-content: center;
    flex: 2;
  }

  .dropdown-list {
    width: 80vw;
  }

  .filters-menu {
    position: static;
  }

  .filter-sidebar {
    width: 30%;
    left: 70%;
  }

  .nav-sidebar {
    width: max-content;
    left: unset;
    background-color: unset;
    padding: 0;
  }
  
  .layout-row {  
    padding: 10px;
  }

  .dropdown-button > h3 {
    margin: 0.75em 0;
  }

  .filters-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .filters-list.deep {
    display: flex;
  }
}

@media (min-width: 1250px) {
  .dropdown-list {
    width: 70vw;
  }

  .dropdown-list-item:hover {
    line-height: 2rem;
    border: 1px solid var(--accent);
  }
}