.saved-sets-page {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.saved-set-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--main-midtone);
  width: 90%;
  margin: 2% 5%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.saved-set-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 0 5%;
  width: 200px;
}

.saved-set-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.saved-sets-card-details {
  display: flex;
}
.saved-sets-card-details > span {
  flex: 1;
}

.saved-sets-card-details.clickable:hover {
  background-color: var(--main);
  cursor: pointer;
}

.saved-sets-card-list {
  overflow-y: scroll;
  height: 20dvh;
}

@media (min-width: 820px) {
  .saved-set-row {
    flex-direction: row;
    align-items: center;
  }

  .saved-sets-card-list {
    overflow-y: scroll;
    height: 15dvh;
  }
}