.saved-sets-page {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.saved-sets-page p {
  text-align: center;
}

.saved-set-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--main-midtone);
  width: 90%;
  margin: 2% 5%;
  padding: 10px 20px;
  box-sizing: border-box;
  gap: 20px;
}

.saved-set-menu {
  text-align: center;
  width: 350px;
  max-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
}

.saved-set-title {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: var(--main);
  border-radius: 5px;
  padding: 5px 10px;
}

.saved-set-menu, .saved-set-title::placeholder, .saved-set-title input[type="text"] {
  font-size: 24px;
  font-weight: bold;
}

.saved-sets-title-nonediting, .saved-set-title::placeholder, .saved-set-title input[type="text"] {
  width: 250px;
  max-width: 80%;
  height: 36px;
  box-sizing: border-box;
  text-align: center;
}

.saved-set-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.saved-sets-card-details {
  display: grid;
  gap: 5px;
  grid-template-columns: 10fr 10fr 10fr 1fr;
}

.saved-sets-card-details.clickable:hover {
  background-color: var(--main);
  cursor: pointer;
}

.saved-sets-card-details.title {
  border-bottom: 1px solid white;
  font-size: 18px;
  font-weight: bold;
}

.saved-sets-card-list {
  overflow-y: scroll;
  height: 20dvh;
}

.saved-sets-card-list::-webkit-scrollbar {
  display: none;
}

.saved-sets-button {
  width: fit-content;
  flex: unset;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
}

.saved-sets-button:hover {
  background-color: var(--main-light);
}

@media (min-width: 820px) {
  .saved-set-row {
    flex-direction: row;
  }

  .saved-sets-card-list {
    overflow-y: scroll;
    height: 15dvh;
  }
}