.search-bar-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.card-search-bar {
  margin-bottom: 0px;
  padding: 5px;
  width: 80vw;
}

.search-info-link {
  filter: invert(1);
  height: 100%;
  aspect-ratio: 1/1;
}

.search-info-link:hover {
  filter: invert(1) opacity(0.7);
}

@media (min-width: 820px) {
  .card-search-bar {
    width: 60vw;
    margin-bottom: 20px;
  }
}