/* pattern template */
.pattern {
    background-color: var(--papyrus);
}

.pattern-title {
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 9px 9px 0 0;
    flex: 8;
}

.pattern-info {
    text-align: center;
    font-size: 15px;
    color: white;
    margin: 0;
}

.pattern-title-section {
	width: 100%;
	display: flex;
    min-height: 50px;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.pattern-card {
    position: relative;
    display: flex;
    height: 100%;
}

.pattern .gate {
    width: 100%;
    color: white;
    font-size: 9px;
    height: 13px;
    padding: 0;
}

.pattern-abilities {
    text-align: center;
    text-wrap: balance;
    flex: 80 50;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.pattern-ability-gate {
    text-align: center;
    color: white;
    flex-basis: 25%;
    padding-left: 18px;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.pattern-gated-ability {
    text-align: left;
    color: white;
    flex-basis: 60%;
}

.pattern .icon {
    border-radius: 50%;
    border: 3px solid var(--papyrus);
    box-shadow: 0 0 4px 3px var(--papyrus-dark);
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gate .invertible,
.pattern-ability-gate .invertible,
.pattern-abilities .invertible,
.icon .invertible,
.kratos-option .invertible {
    filter: invert(1);
}

.pattern-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 5px;
    padding: 20px 0;
}

.kratos-table {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 35%);
}

.trauma-table {
    background: linear-gradient(0deg, rgba(92, 14, 5, 1) 0%, rgba(255, 255, 255, 0) 35%);
}

.trauma-row {
    flex: 1;
    padding: 5px;
    margin: 3px 20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--papyrus);
    background: rgb(92, 14, 5);
    background: linear-gradient(90deg, rgba(92, 14, 5, 1) 20%, rgb(158, 27, 13) 80%);
    max-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kratos-row {
    flex: 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.kratos-full-row::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 70%;
    background-color: #FFF;
    /* Change to desired color */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    /* Diamond shape */
    z-index: -1;
}

.kratos-option {
    background-color: black;
    color: white;
    margin: 1px;
    border-radius: 3px;
    min-width: 22%;
    display: flex;
    height: 95%;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 16px;
}

.kratos-full-row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.kratos-rage-box {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kratos-rage-number {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End pattern template */