/* Base Card Styles */
.ai-card {
  background-color: var(--papyrus);
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Header */
.ai-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  padding: 10px;
}

.ai-card__icon-top-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8b4513;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.ai-card__name {
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
  padding-top: 5px;
  flex-grow: 1;
}

/* Right Stats Bar */
.ai-card__stats-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 38px;
  flex-shrink: 0;
  font-size: 15px;
}

.ai-card__stats-background {
  height: 92px;
  width: 38px;
  top: 25px;
  background-color: #743e27;
  position: absolute;
  z-index: -1;
}

.stats-bar-right__level-container {
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.stats-bar-right__level {
  transform: rotate(-45deg);
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: none;
}

.stats-bar-right__dice {
  padding: 8px 0 5px 0;
  font-size: 18px;
  position: relative;
  /* For icon background */
}

.stats-bar-right__dice-value {
  position: relative;
  z-index: 2;
}


.stats-bar-right__difficulty {
  padding: 3px 0;
  font-size: 18px;
  border-top: 1px solid #fff;
}

/* Flavor Text */
.ai-card__flavor {
  font-style: italic;
  font-size: 11px;
  text-align: center;
  color: #666;
  margin: 0 5px 10px 5px;
  padding: 5px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

/* Section Headers (TARGET, MOVE & ATTACK, AFTER ATTACK) */
.ai-card__section-header {
  display: inline-block;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 2px 8px;
  font-size: 11px;
  border-radius: 1px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.ai-card__section-header--action {
  margin: 0;
}

.ai-card__section-header--after-attack {
  margin: 0;
}


/* Targeting */
.ai-card__targeting {
  margin-bottom: 8px;
}

.ai-card__targeting-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

/* Action Section */
.ai-card__action {
  margin-bottom: 8px;
}

.ai-card__action-line {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.ai-card__attack-banner {
  font-size: 12px;
  background-color: #a0522d;
  color: white;
  border: 1px solid white;
  padding: 1px 5px;
  border-radius: 1px;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
}

.ai-card__attack-banner .icon {
  margin: 0 2px;
}

.ai-card__consequences-list {
  margin: 0;
  font-size: 12px;
  line-height: 1.5em;
  vertical-align: center;
}

.ai-card__consequences-list p,
.ai-card__after-attack-list p {
  margin: 0;
  padding-right: 6.66%;
  line-height: 18px;
}

/* After Attack */
.ai-card__after-attack {
  margin-bottom: 15px;
}

.ai-card__after-attack-list {
  margin: 0;
  font-size: 12px;
}

/* Footer */
.ai-card__footer {
  margin-top: auto;
  padding-top: 4px;
  padding-bottom: 2px;
  padding: 6px 10px 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ai-card_footer-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-card__id {
  font-size: 10px;
  justify-content: flex-start;
}

.ai-card__type-indicator {
  font-size: 0.9em;
  font-weight: bold;
  flex: 3;
}

.ai-card__woo-icon {
  width: 6.66%;
  font-size: 14px;
}

.ai-card__attack-banner .invertible, .stats-bar-right__dice .invertible {
  filter: invert()
}

.ai-card_main-body {
  min-height: 50%;
  display: flex;
  flex-direction: column;
}