/* Gear template */
.gear {
	background-color: var(--papyrus);
	color: black;
}

.gear p {
	margin: 0;
}

.gear .gear-title {
	text-align: center;
	font-size: 18px;
	color: white;
  border-radius: 9px 9px 0 0;
	flex: 8;
}

.gear .gear-info {
	text-align: center;
	font-size: 15px;
	color: white;
	margin: 0;
}

.gear .gear-card {
	width: 100%;
	display: flex;
	margin: 10px 0;
}

.gear .gear-image {
	height: 270px;
	width: 270px;
}

.gear .gear-image img {    
	position: absolute;
	height: 100%;
	width: 100%;
}

.gear .gear-stats-container {
	bottom: 0%;
	display: flex;
	flex-direction: column;
	top: 0%;
	flex: 25;
	row-gap: 8px;
	justify-content: center;
	overflow: hidden;
}

.gear .gear-stats {
	text-align: center;
	padding-bottom: 3%;
	background-color: #BFBCAB;
	font-size: 15px;
}

.gear .gear-stats img {
	vertical-align: middle;
}

.gear .gate {
	font-size: 10px;
	line-height: 8px;
}

.gear .gear-image-spacer {
	flex: 80 50;
}

.gear-abilities {
	font-size: 13px;
}

.gear-abilities-no-gates {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	text-align: center;
	text-wrap: balance;
	padding: 15px;
	padding-top: 0;
}

.gear-gate {
	width: 100%;
	display: flex;
	column-gap: 10px;
	justify-content: flex-start;
	align-items: center;
}

.gear .gear-gate svg {
	height: 15px;
	display: block;
}

.gear .gear-ability-gate {
	text-align: center;
	color: white;
	padding-left: 18px;
	text-wrap: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
}

.gear .gear-gated-ability {
	text-align: left;
	color: white;
	padding-right: 10px;
}

.gear .icon {
	border-radius: 50%;
	border: 3px solid var(--papyrus);
	box-shadow: 0 0 4px 3px var(--papyrus-dark);
	height: 30px;
	width: 30px;
	margin: 5px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gate .invertible, .gear-ability-gate .invertible, .gear-gated-ability .invertible, .icon .invertible {
	filter: invert(1);
}

/* End gear template */