/* argonautbox template */
.argonaut {
	background-color: #EEE;
	display: flex;
	min-height: 140px;
}

.argonaut p {
    margin: 0;
}

.argonaut-title {
	text-align: center;
	font-size: 18px;
	color: #FFF;
	flex: 8;
	background-color: #000;
	padding-top: 5px;
}

.argonaut-card {
    text-align: center;
	align-self: flex-end;
	width: 100%
}

.argonaut-flavor {
    font-style: italic;
    padding: 10px;
}

.argonaut-info {
	width: 100%;
	display: flex;
	column-gap: 10px;
	background-color: #000;
	color:#FFF;
}

.argonaut-info svg {
	height: 20px;
	width: 200px;
	align-self: center;
	display: block;
	margin: auto;
}

.bottom-row {
    border-radius: 0 0 9px 9px;
}

.argonaut-info-header {
	text-align: right;
	flex-basis: 45%;
	font-weight: BOLD;
}

.argonaut-info-detail {
	flex-basis: 55%;
	text-align: left;
}

/* End argonaut template */