/* Base Card Styles */
.bp-card {
  background-color: var(--papyrus);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.bp-card__main-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Header */
.bp-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  padding: 10px;
}

.bp-card__icon-top-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #8b4513;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.bp-card__name {
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
  padding-top: 5px;
  flex-grow: 1;
}

/* Right Stats Bar */
.bp-card__stats-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 38px;
  flex-shrink: 0;
  font-size: 15px;
}

.bp-card__stats-background {
  height: 92px;
  width: 38px;
  top: 25px;
  position: absolute;
  z-index: -1;
}

.stats-bar-right__level-container {
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.stats-bar-right__level {
  transform: rotate(-45deg);
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: none;
}

/* Flavor Text */
.bp-card__critical-flavor {
  font-style: italic;
  font-size: 11px;
  text-align: center;
  color: #666;
  margin: 0 5px 10px 5px;
  padding: 5px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

/* Section Headers (FAIL, WOUND, etc.) */
.bp-card__section-header {
  display: inline-block;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 0px 4px;
  font-size: 11px;
  border-radius: 1px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.bp-card__section-header--response {
  margin: 0;
  margin-left: 6.66%;
}

.bp-card__value-container {
  display: flex;
  justify-content: center;
}

.bp-card__value-container span {
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 0 4px 3px var(--papyrus-dark);
  color: white;
  padding: 1px 6px;
  padding-right: 8px;
  font-size: 18px;
}

/* Resources */
.bp-card__resources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 6.66%;
}

.bp-card__resources-title {
  margin: 0;
}

.bp-card__resources-list {
  padding: 2px 5px;
}

/* Responses */
.bp-card__responses-line {
  display: flex;
  align-items: center;
}

.bp-card__effects-list {
  margin: 0;
  font-size: 12px;
  line-height: 1.5em;
  vertical-align: center;
  margin-right: 6.66%;
}

.bp-card__effects-list p {
  margin: 0;
  line-height: 18px;
}

/* Critical */
.bp-card__critical-flavor {
  border-top: 1px solid var(--papyrus-dark);
  border-bottom: 1px solid var(--papyrus-dark);
  margin: 3px 6.66%;
  padding: 0;
  text-align: left;
}

.bp-card__critical-list {
  margin: 0;
  font-size: 12px;
  margin: 3px 6.66%;
}

.bp-card__critical-list p {
  margin: 0;
  margin: 3px 6.66%;
  line-height: 18px;
}

/* Footer */
.bp-card__footer {
  padding-top: 4px;
  padding-bottom: 2px;
  padding: 6px 10px 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bp-card_footer-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bp-card__id {
  font-size: 10px;
  justify-content: flex-start;
  color: white;
}

.bp-card__type-indicator {
  font-size: 0.9em;
  font-weight: bold;
  flex: 3;
  color: white;
}

.bp-card__woo-icon {
  width: 6.66%;
  font-size: 14px;
}

.bp-card__attack-banner .invertible,
.bp-card__value-container span .invertible {
  filter: invert()
}