/* condition template */

.condition {
  background-color: white;
}

.condition p {
  margin: 0;
}

.condition>* {
  color: black;
}

.condition-title-block {
  padding: 5px;
}

.condition-title {
  text-align: center;
  color: #ae6511;
}

.condition-info {
  text-align: center;
  color: white;
  background-color: #ae6511;
  font-size: 15px;
  margin: 5px 0;
  margin-top: 15px;
}

.condition-flavor {
	border-top: 1px solid lightgray;
	color: gray;
	margin: 0 30px;
	font-style: italic;
	text-align: center;
}

.condition-effects {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	margin: 0 30px;
	text-align: center;
}

.condition-abilities-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 15px 0;
}

.condition-abilities-header {
  color: white;
  background-color: #ae6511;
  border: 1px solid white;
  width: fit-content;
  padding: 0px 4px;
}

.condition-abilities {
  background-color: lightgray;
  padding: 6px 30px;
	box-sizing: border-box;
  line-height: 15px;
  text-align: center;
  width: 100%;
  gap: 5px;
  justify-content: center;
}

/* End condition template */