/* Gearbox template */
.gear {
	background-color: #DFDBCD;
	color: black;
	font-size: 12px;
	width: 270px;
    border-radius: 10px;
	position: relative;
	z-index: 1;
}

.gear p {
    margin: 0;
}

.gear .gear-title {
	text-align: center;
	font-size: 18px;
	color: white;
    border-radius: 9px 9px 0 0;
	flex: 8;
}

.gear .gear-subtitle {
	text-align: center;
	font-size: 15px;
	color: white;
    margin: 0;
}

.gear .gear-card {
	width: 100%;
	position: relative;
	min-height: 140px;
	display: flex;
	margin: 10px 0;
}

.gear .gear-image {
	height: 270px;
	width: 270px;
}

.gear .gear-image img {    
    position: absolute;
    height: 100%;
    width: 100%;
}

.gear .gear-info {
	width: 100%;
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.gear .gear-info-header {
	text-align: right;
	flex-basis: 35%;
	font-weight: BOLD;
}

.gear .gear-info-detail {
	flex-basis: 65%;
}

.gear .gear-stats-container {
	bottom: 0%;
    display: flex;
    flex-direction: column;
    top: 0%;
    flex: 25;
    row-gap: 8px;
    justify-content: center;
}

.gear-stats-container:empty {
    flex: 10;
}

.gear .gear-stats-left {
	left: 0%;
	right: auto;
}

.gear .gear-stats-right {
	left: auto;
	right: 0%;
}

.gear .gear-stats {
    text-align: center;
    padding: 3% 0;
    background-color: #BFBCAB;
	font-size: 15px;
}

.gear .gate {
	width: 100%;
    color: white;
    font-size: 9px;
    height: 13px;
    padding: 0;
}

.gear .gear-abilities {
	text-align: center;
	text-wrap: balance;
	padding: 0 10px;
	flex: 80 50;
    display: flex;
    justify-content: flex-end;
	flex-direction: column;
}

.gear .gear-ability-gate {
	text-align: center;
    color: white;
    flex-basis: 25%;
    padding-left: 18px;
    text-wrap: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.gear .gear-gated-ability {
	text-align: left;
	color: white;
	flex-basis: 60%;
}

.gear .gear-icon {
	text-align: center;
	flex: 2;
}

.gear .icon {
	border-radius: 50%;
	border: 3px solid #DFDBCD;
    box-shadow: 0 0 4px 3px #cac7b9;
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gate .invertible, .gear-ability-gate .invertible, .gear-gated-ability .invertible, .icon .invertible {
	filter: invert(1);
}

.cycle4 .invertible {
	filter: saturate(100%) invert(74%) sepia(63%) saturate(363%) hue-rotate(2deg) brightness(106%) contrast(81%);
}

/* End gear template */