.page-over {
  width: 10dvw;
  height: 50dvh;
  position: absolute;
  top: 25dvh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease, width 0.6s ease;
  z-index: 550;
}
.page-over.catalog-arrow {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 0;
}
.page-over.backpack-arrow {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: 0;
}

.page-over-arrow {
  transition: transform 0.8s ease;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-arrow .page-over-arrow {
  transform: translateX(-80px);
  right: 0;
}
.backpack-arrow .page-over-arrow {
  transform: translateX(80px);
  left: 0;
}

.page-over-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  line-height: 34px;
  background-color: var(--accent);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  z-index: 20;
}
.page-over-arrow-button:hover {
  background-color: var(--accent-dark);
}

.page-over:hover .page-over-arrow, .page-over.open .page-over-arrow {
  cursor: pointer;
}
.catalog-arrow.page-over:hover .page-over-arrow, .catalog-arrow.page-over.open .page-over-arrow {
  transform: translateX(30px);
}
.backpack-arrow.page-over:hover .page-over-arrow, .backpack-arrow.page-over.open .page-over-arrow {
  transform: translateX(-30px);
}

.page-over.open {
  background-color: var(--main-light);
  top: 0;
  height: 100dvh;
}

.page-over.is-drop-target {
  background-color: var(--accent);
  width: 20dvw;
}

@media (min-width: 820px) {
  .page-over {
    width: 3dvw;
  }
}