.tooltip {
    background-color: rgb(70, 61, 61);
    padding: 10px;
    border-radius: 5px;
    border: 5px solid white;
    color: white;
    text-align: left;
    z-index: 50;
    overflow: scroll;
    max-height: 50dvh;
}

.tooltip::-webkit-scrollbar {
    display: none;
}

.tooltip-title {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.tooltip-subtitle {
    font-weight: bold;
    font-size: 14px;
    margin-top: 4px;
    border-bottom: 1px solid white;
}

.tooltip-trigger {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.tooltip-trigger:hover {
    color: rgb(212, 16, 16);
}

.icon .OneHanded {
    padding-top: 25%;
}

.icon .Armor {
    padding-top: 5%;
}

.secret-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 500;
    border-radius: 10px;
    box-sizing: border-box;
}

.invert-icons .invertible {
    filter: invert(1);
}

.ability-costs .text-icon {
    margin-right: 2px;
}