.tooltip {
    background-color: rgb(59, 59, 59);
    padding: 10px;
    border-radius: 5px;
    border: 5px solid white;
    color: white;
    text-align: left;
}

.tooltip-title {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.tooltip-subtitle {
    font-weight: bold;
    font-size: 14px;
}

.tooltip-trigger {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.icon .OneHanded {
    padding-top: 25%;
}

.icon .Armor {
    padding-top: 5%;
}