/* Gear template */
.titan {
	background-color: var(--papyrus);
}

.card.titan {
	overflow-y: unset;
}

.titan-details {
	padding: 10px;
}

.titan-table {
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-flex;
	margin-bottom: 15px;
}

.titan .pattern-table {
	gap: 10px;
	border-radius: 8px;
	padding-bottom: 30px;
}

.titan .kratos-option {
	padding: 2px 4px;
}

.titan-title {
	text-align: center;
	font-size: 22px;
	padding: 0.3rem;
}

.titan-main {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(3, 278px);
	overflow-x: auto;
	overflow-y: hidden;
}

.titan-main::-webkit-scrollbar{
	display: none;
}

.titan-info {
	text-align: center;
	font-size: 15px;
	color: white;
	margin: 0;
}

.titan-card {
	width: 100%;
	position: relative;
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 10px 0;
}

.titan-stats {
	text-align: center;
	padding: 3% 0;
	background-color: #BFBCAB;
	font-size: 15px;
	width: 100%;
	display: flex;
	gap: 20px;
	justify-content: center;
}

.titan .titan-abilities {
	text-align: center;
	text-wrap: balance;
	padding: 0 10px;
	flex: 80 50;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.titan .titan-ability-gate {
	text-align: center;
	color: white;
	flex-basis: 25%;
	padding-left: 18px;
	text-wrap: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.titan .titan-gated-ability {
	text-align: left;
	color: white;
	flex-basis: 60%;
}

.titan .icon {
	border-radius: 50%;
	border: 3px solid var(--papyrus);
	box-shadow: 0 0 4px 3px var(--papyrus-dark);
	height: 30px;
	width: 30px;
	margin: 5px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gate .invertible,
.titan-ability-gate .invertible,
.titan-gated-ability .invertible,
.icon .invertible {
	filter: invert(1);
}

/* End titan template */